.button {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background-color: #fff;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    color: #333;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    transition: background-color 0.3s ease-out, border-color 0.3s ease-out;

    &.icon {
        padding: 0.3rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.3rem;
    }

    &.primary {
        background-color: var(--color-primary);
        border-color: var(--border-color-primary);
        color: #fff;

        &:hover,
        &:focus,
        &:active {
            background-color: var(--color-primary-hfa);
            border-color: var(--border-color-primary-hfa);
        }
    }

    &.secondary {
        background-color: var(--color-secondary);
        border-color: var(--border-color-secondary);
        color: #333;

        &:hover,
        &:focus {
            background-color: var(--color-secondary-hfa);
            border-color: var(--border-color-secondary-hfa);
        }

        &:active {
            background-color: #ddd;
            border-color: var(--border-color-secondary-hfa);
        }
    }

    &.success {
        background-color: var(--color-success);
        border-color: var(--border-color-success);
        color: #fff;

        &:hover,
        &:focus,
        &:active {
            background-color: var(--color-success-hfa);
            border-color: var(--border-color-success-hfa);
        }
    }

    &.warning {
        background-color: var(--color-warning);
        border-color: var(--border-color-warning);
        color: #fff;

        &:hover,
        &:focus,
        &:active {
            background-color: var(--color-warning-hfa);
            border-color: var(--border-color-warning-hfa);
        }
    }

    &.danger {
        background-color: var(--color-danger);
        border-color: var(--border-color-danger);
        color: #fff;

        &:hover,
        &:focus,
        &:active {
            background-color: var(--color-danger-hfa);
            border-color: var(--border-color-danger-hfa);
        }
    }

    &.ghost {
        background-color: transparent;
        border-color: transparent;
        color: #333;

        &:hover,
        &:focus,
        &:active {
            background-color: #eee;
            border-color: #999;
            border-color: transparent;
        }
    }

    &:hover,
    &:focus {
        background-color: #eee;
        border-color: #999;
    }

    &:active {
        background-color: #ddd;
        border-color: #999;
    }

    &:disabled {
        background-color: #eee;
        border-color: #ccc;
        color: #999;
        cursor: not-allowed;
    }

    &.block {
        justify-content: center;
        width: 100%;
    }
}
